*, *:before, *:after {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html, body {
    width : 100%;
    height : 100%;
}

body{
    background: #252525;
    font: normal 12px Arial;
    color: #D1D1D1;
    position: relative;
}

#uiContainer{
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
}

#navMain{
    background: #4d4d4d;
    padding : 1em;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    z-index: 1;
}

#navMain .icon{
    background: transparent url(../../common/img/touch/icon.png) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    vertical-align: top;
}

#navMain h1{
    color: #d3d3d3;
    font:normal 1.8em 'Oswald', sans-serif;
    text-shadow: 2px 2px 2px #000000;
    display: inline-block;
    vertical-align: top;
}

#btnDiscover{
    background: transparent url(../../common/img/icons/cast-disabled.png) no-repeat;
    background-size: contain;
    border: none;
    width: 32px;
    height: 32px;
    margin: 2px;
    float: right;
    vertical-align: top;
}

#btnDiscover.enabled{
    background: transparent url(../../common/img/icons/cast-off.png) no-repeat;
}

#btnDiscover.connected{
    background: transparent url(../../common/img/icons/cast-on.png) no-repeat;
}

#cntContainer{
    background: #272727;
    flex: 1 100%;
    position: relative;
}

#photoContainer{
    background: transparent url(../../common/img/icons/photo-icon.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

#photo{
    position:absolute;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.7);

}

#btnSelectFile{
    width:200px;
    display: none;
}

#filePhoto{
    display:none;
}

#footerMain{
    background: #4d4d4d;
    padding: 1.2em 1.2em 1.7em 1.2em;
    text-align: center;
    box-shadow: 0 -3px 3px rgba(0,0,0,.4);
    z-index: 1;
}

#devicesContainer{
    display : none;
    padding: 10px;
    background: #4d4d4d;
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
    bottom: 100px;
    z-index: 100;
    border: solid 2px #6D6D6D;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.6);
}

#devicesContainer .icon{
    background: transparent url(../../common/img/icons/cast-off.png) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 5px 5px 0 0;
    vertical-align: top;
}

#devicesContainer h2{
    color: #d3d3d3;
    font: normal 1.4em 'Oswald', sans-serif;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

#devicesContainer ul{
    list-style: none;
}

#devicesContainer ul li{
    border-top: solid 1px #6D6D6D;
    border-bottom: solid 1px #6D6D6D;
    padding: 10px 20px;
    font: normal 14px Arial;
}

.image-select {
    box-shadow:inset 0 1px 0 0 #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    background-color:#ededed;
    border-radius:2px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#6e6e6e;
    font: bold 1.2em Arial;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0 #ffffff;
    padding : .8em;
}
.image-select:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    background-color:#dfdfdf;
}

/********************** devices window *************************/
#deviceWindow{
    height: 100%;
    min-height: 100%;
    padding: 20px;
    position: absolute;
    color:#fff;
    left : 0;
    right : 0;
    top : 0;
    bottom : 0;
    background: rgba(0,0,0,.65);
    z-index: 11;
    display: none;
}
.device-wrap{
    display: table;
    width: 100%;
    height: 100%;
}

#deviceWindow ul{
    margin: 0;
    padding: 0;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}


#deviceWindow ul li{
    background: #111;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #555;
    text-align: left;
    color: #ddd;
    border-radius: 0;
    padding: 17px 15px;
    list-style: none;
}

#deviceWindow ul li:first-child{
    border-bottom:none;
}

#deviceWindow ul li:last-child{

}

#deviceWindow ul li.connected-device span {
    float: right;
    margin-right: 10px;
}
#deviceWindow ul li.connected-device{
    color:cornflowerblue;
}

#deviceWindow ul li.disconnect{
    display: none;
    text-align: center;
    border-top: 1px solid #555;
}

#deviceWindow ul li.cancel{
    text-align: center;
    border-top: 1px solid #555;
}

.connect-by-pin{
    padding-left: 30px;
    padding-right: 30px;
}

.itemrender-device{
    border: solid 1px #000;
    margin: 3px;
    padding: 5px;
}

#deviceWindow ul li.device-list-head img{
    margin-right: 10px;
    height: 20px;
    margin-top: 5px;
    width: auto;
}

#deviceWindow ul li.device-list-head span{
    position: relative;
    top: -4px;
    display: inline-block;
}

#deviceWindow ul li.device-list-head{
    text-align: left;
    list-style: none;
    padding: 15px;
    border-bottom:1px solid cornflowerblue !important;
    color:cornflowerblue;
}

.scan{
    color:#fff;
    top:3px;
    display: inline-block;
    float: right;
}

.scan img{
    margin-right: 5px;
    height: 22px;

}

#deviceWindow ul ul{
	display:block;
}