<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<ThumbIcon>icons/icon-106.png</ThumbIcon>
	<BigThumbIcon>icons/icon-115.png</BigThumbIcon>
	<ListIcon>icons/icon-85.png</ListIcon>
    <BigListIcon>icons/icon-95.png</BigListIcon>
	
	<category>photos</category>
	<autoUpdate>y</autoUpdate>
	<cpname>PhotoShare</cpname>
	<cpauthjs></cpauthjs>
	<login>n</login>
	<mouse>y</mouse>

	<ver>1.000</ver>
	<mgrver>2.000</mgrver>
	
	<fullwidget>y</fullwidget>
	<srcctl>n</srcctl>
	<ticker>n</ticker>
	<childlock>n</childlock>
	<audiomute>n</audiomute>
	<videomute>n</videomute>
	<dcont>y</dcont>

	<runTitle>com.multiscreen.apps.photoshare</runTitle>
	<widgetname>PhotoShare</widgetname>
	<description>A simmple photo sharing application demonstration binary messages in the channel api</description>

    <width>1280</width>
	<height>720</height>

	<author>
		<name>Samsung MultiScreen Framework Team)</name>
		<email>support@multiscreen.samsung.com</email>
		<link>http://multiscreen.samsung.com</link>
		<organization>Samsung</organization>
	</author>
</widget>
